*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    /* border-box ensures padding stays inside content without stretching */
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: spanText;
    src: url(/styling/fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.otf);
}

img{
    /* change parent container for width change, if flex items do not have parent element then they stretch */
    width: 100%;
}

ul, li{
    /* remove bullet points from unordered lists and list items */
    list-style-type: none;
}

a{
    /* remove decoration from anchor tags */
    text-decoration: none;
}

p{
    color: #5b4f47;
    font-family: 'Open Sans', sans-serif;
}

/* IMPORTANT: variables */

:root{ 
    /* font families - root creates variables */
    --primary-font: sans-serif;
    --secondary-font: serif;

    --header-font: 'Playfair Display', serif;

    --background-color: rgb(255, 255, 255);
}

body{
    /* background colour is colour addressed in root: */
    background-color: var(--background-color);
    background-image: url(/styling/textures/billie-holiday.png);
        /* created with transparenttextures.com */
}

/* intro__container animations */

/* animation for logo */
@keyframes intro__overlayLogoFadeIn {
    0%{ 
        opacity: 0; 
        transform: translateY(20%); 
    }
    
    100%{ 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* animation for left image */
@keyframes intro__overlayImageFadeInL {
    0%{ 
        opacity: 0;
        transform: translateY(5%); 
        transform: rotate(0deg);
    }
    100%{ 
        opacity: 1; 
        top: 10%;
        left: -25%;
        transform: rotate(-3deg);

    }
}

/* animation for right image */
@keyframes intro__overlayImageFadeInR {
    0%{ 
        opacity: 0; 
        transform: translateY(5%); 
        transform: rotate(0deg);
    }
    100%{ 
        opacity: 1; 
        bottom: 15%;
        right: -25%;
        transform: rotate(-3deg);

    }
}

/* animation for bobbing explore arrow */
@keyframes explore__angles__bobbing{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(10%);
    }

    100%{
        transform: translateY(0%);
    }
}

/* animation for explore div to appear */
@keyframes explore__section__appear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* start of intro__container CSS */
.intro__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.fa-arrow-down{
    color: rgb(158, 158, 158);
    display: flex;
    margin: auto;

}

.intro__overlay > .logo-info{
    opacity: 0;
    animation: 0.7s intro__overlayLogoFadeIn 0.3s ease-in-out forwards;
}

.intro__overlay > .logo-info > img{
    width: 80%;
}

.intro__image{
    opacity: 0;
    width: 55%;
    position: absolute;

    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
    border: 10px solid #fff;
}

.intro__image.left {
    top: 17%;
    left: -30%;

    animation: 0.7s intro__overlayImageFadeInL 0.9s ease-in-out forwards;
}

.intro__image.right {
    bottom: 20%;
    right: -30%;

    animation: 0.7s intro__overlayImageFadeInR 1.2s ease-in-out forwards;
}

/* intro container buttons */

.logo-info__buttons > .button{
    background-color: transparent;
    border: 3px solid rgb(222, 172, 149);
    color: black;
    padding: 15px 42px;
    margin: 2% 4%;

    font-family: var(--header-font);
    font-size: 18px;

    transition: 0.3s;
}

.logo-info__buttons > .button:hover{
    cursor: pointer;
    background-color: rgb(219, 193, 181);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}

.logo-info__buttons > .button:active{
    box-shadow: none;

    transition: 0.1s;
}

.explore__section{
    opacity: 0;
    font-family: spanText;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    position: absolute;
    font-size: 34px;

    color: rgba(122, 65, 32, 0.678);
    animation: 0.5s explore__section__appear 1.2s ease-in-out forwards;
}

.explore__section > .fa-angles-down{
    color: rgb(151 148 143 / 53%);
    margin-top: 9%;
    
    animation: 1.3s explore__angles__bobbing 1.2s ease-in-out infinite forwards;
}

/* intro container END */

/* Contact Page CSS */
h2{
    font-family: spanText;
    font-size: 40px;
    color: rgba(122, 65, 32, 0.678);
    font-weight: 500;
    text-align: center;
}

h3{
    font-family: spanText;
    font-size: 35px;
    color: rgba(122, 65, 32, 0.678);
}

h4{
    font-family: spanText;
}

#contact__section > h2{
    text-align: center;
}

.about__section{
    width: 100%;
    display: block;
}

.about__div{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.about__text{
    width: 25%;
    justify-content: center;
    margin: auto 0;
}

.about__text > h2{
    text-align: left;
}

.about__text > p{
    margin-bottom: 2%;
    margin-top: 5%;
}

.fa-square-twitter{
    font-size: 40px;
    color: #5b4f47;
}

.fa-square-instagram{
    font-size: 40px;
    color: #5b4f47;
}

.profile__image{
    width: 28%;
    display: flex;
    justify-content: center;
}

.profile__image > .profile{
    width: 70%;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    border: 7px solid #fff;
    transform: rotate(-3deg);
}

/* SERVICES SECTION */

.services__div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 4%;
}

.service_card{
    background-color: #fff;
    padding: 1.2%;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.service_card_txt{
    border: 4px solid rgb(222, 172, 149);
    height: 300px;
    width: 300px;

    display: table-cell;
    vertical-align: middle;
}

.service_card_txt > p > span{
    font-weight: bold;
    font-size: 45px;
}

.service_card_contract{
    margin: 23px 0;
}

.service_card_contract > p > span{
    font-weight: bold;
    font-size: 30px;
}

.service_card_contract > .p__contract{
    font-size: 25px;
    color: #9e765b;
}

.framed_card > p{
    margin-top: 8%;
}

.framed_card > p > span{
    font-size: 26px;
}

/* SERVICES SECTION END */

/* SOCIAL SECTION */

.social__section__posts{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}

/* SOCIAL SECTION END */

/* CONTACT SECTION */

.contact__section__wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3%;
}

.contact__section__form > form{
    padding: 10px;
    border: 4px solid rgb(222, 172, 149);
}

.contact__section__form{
    background-color: #fff;
    width: 50%;
    height: fit-content;
    padding: 10px;
}


label{
    font-family: 'Open Sans', sans-serif;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .form__submit{
    margin: 4%;
  }

  .form__submit > input{
    background-color: transparent;
    border: 3px solid rgb(222, 172, 149);
    padding: 15px 42px;
    margin: 2% 4%;
    font-family: var(--header-font);
    font-size: 18px;
    transition: 0.3s;
  }

  .form__submit > input:hover{
      cursor: pointer;
    background-color: rgb(219, 193, 181);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* CONTACT SECTION END */

footer{
    text-align: center;
}

footer > img{
    width: 30%;
    display: block;
    margin: auto;
}

footer > p{
    color: #676767;
    margin: 1% 0;
}


/* 
    MEDIA QUERIES
*/

/* TABLET */
@media screen and (max-width: 977px){

    .about__div{
        display: block;
        margin: auto;
        width: 50%;
        text-align: center;
    }

    .info__images{
        width: 77%;
        margin: 0 auto 8%;
    }

    .about__text{
        width: auto;
        margin-bottom: 10%;
    }

    .about__text > h2{
        text-align: center;
    }

    .profile__image{
        width: auto;
    }

    /* profile section */
    .profile__image > .profile{
        width: 60%;
        margin-bottom: 35px;
    }

    /* services section */
    .services__div{
        display: block;
    }

    .service_card{
        width: 300px;
        height: 300px;
        margin: 6% auto;
    }
    /* services section END */
    
    /* post section */
    .social__section__posts{
        display: block;
    }

    .twitter-tweet{
        margin: auto;
    }
    /* post section END */

    /* contact section */
    .contact__section__wrap{
        display: block;
    }

    .contact__section__wrap > form{
        width: 70%;
        margin: auto;
    }

    .contact__section__map > iframe{
        width: 90%;
    }

    /* contact section END */
}

/* LAPTOP */

/* MOBILE PHONE */